.columnItem,
.tableFooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.columnItem,
.tableFooter,
td {
    margin: 1vh;
    padding: 2vh;
    height: 3.2vh;
    text-align: center;
    border: black 1px solid;
}

.tableFooter,
.columnItem:first-child {
    background-color: antiquewhite;
}

tr:not(:first-child, :last-child) td:first-child {
    background-color: var(--second-btn-color);
}

tr:first-child,
tr:last-child {
    background-color: antiquewhite;
}